---
import Layout from "../../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";


export async function getStaticPaths() {
  const allBlogPosts = await getCollection('posts');

  return allBlogPosts.map((post) => ({
	params: { slug: post.id },
	props: { post },
  }));
}

const posts = await getCollection('posts');


---

<Layout title="Test Page">
    <h1>Test Page</h1>
    <p>This is a test page.</p>
    {posts.map((post) => (
        <a href={`/test/${post.id}`}>
            <h2>{post.data.title}</h2>
            <p>{post.data.destination}</p>
        </a>
    ))}
</Layout>